<div class="hero">
    <div class="heroWrapper"><app-header></app-header>
        <div class="content">
            <div class="intro">
                <div class="parags">
                    <div class="first">
                        <div class="firstWord">
                            <p>Avec la plateforme</p>
                             </div>
                        <div class="saveRest">
                            <div class="logo">
                                <img src="../../../../assets/logo.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div>
                        <p> On vous offre la chance de pratiquer vos sports préférés.</p>
                    </div>
                    <div>
                        <p> On met à votre disposition</p>
                    </div>
                    <div class="gradient">
                        <p>+20
                            terrains sportifs</p>
                    </div>




                </div>


            </div>
        </div>

    </div>

</div>