.nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  align-items: center;
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
}
.nav .logo {
  font-size: max(2em, 3em);
}
.nav .navlinks,
.nav .connection {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav .navlinks li a,
.nav .connection li a {
  font-size: max(1em, 1.4em);
  color: #fff;
  text-decoration: none;
}
.nav .navlinks li .link,
.nav .connection li .link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.nav .navlinks li a:hover,
.nav .connection li a:hover {
  color: #005236;
}
.nav .connection li {
  margin: 0 10px;
  color: #fe982a;
}
.nav .navlinks li {
  margin: 0 25px;
}

.logo {
  width: 180px;
  height: 80px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}
.gradient {
  background: linear-gradient(90deg, #37a4a9, #fff, #6bc4a6, #fe982a);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.menu {
  position: absolute;
  width: fit-content;
}
@media screen and (max-width: 1080px) {
  .nav .navlinks,
  .nav .connection {
    display: none;
  }
}
